@font-face {
    font-family: SF Pro Display;
    src: url(../fonts/SFProDisplay-Light.woff2);
    src: url(../fonts/SFProDisplay-Medium.woff2);
    src: url(../fonts/SFProDisplay-Regular.woff2);
}

html {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #06071B;
    box-sizing:border-box;
    overflow-x: hidden;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 12px;        
  }
  body::-webkit-scrollbar-track {
    background: #333677;        
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 206);   
    border-radius: 20px;       
  }
.container_header{
    max-width: 1298px;
    margin: 0 auto;
}

.container {
    position: relative;
    min-height: 100%;
    max-width: 1120px;
    margin: 0 auto;
}



/* HEADER */ 

.header  {
    position: sticky;
    top: 0px;
    z-index: 5;
    padding: 0;
    max-height: 80px;
    backdrop-filter: blur(6.5px);
}

.header_inner {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 40px;
    padding-top: 30px;
}

.bg {
    z-index: 1;
    position: absolute;
    width: 703px;
    height: 563px;
    right: 0px;
    top: 80px;
    background-color: rgba(171, 0, 251, 0.7);
    filter: blur(327px);
}
    
.list_box {
    display: flex;
    justify-content: space-between;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

.list_nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.link_nav{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
    border: 1px solid transparent;
    box-sizing:border-box;
}

.list_nav:not(:last-child){
    margin-right:30px;
}

.link_nav::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    display: none;
    background-color: #07DBB4;
    position: absolute;
    top: 113%;
    left: 0;
    z-index: 1;

}

.link_nav:hover {
    color: #07DBB4;
    transition: color 0.4s ease;
}


.link_nav:hover::after {
    display: block;
}

.lang_ru {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.lang_en {
    position:relative;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: none;
    margin-left: 10px;
}

.lang_en::before {
    content: '';
    position:absolute;
    bottom: -1px;
    left:  -7px;
    height: 17px;
    border: 1px solid white; 
}

.lang_en:hover {
    color: #07DBB4;
    transition: color 0.3s ease-in;
}


.link_btn {
    z-index: 10;
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 16px;
    padding: 13px 36px 13px 36px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #07DBB4;
    filter: drop-shadow(0px 0px 11px #45AFC7);
    border-radius: 15px;
    text-decoration: none;
}

.link_btn:hover {
    color: black;
    background: #07DBB4;
    border-radius: 10px;
    transition: all 0.4s ease-in;
}


/* MAIN  */ 

.main {
    position: relative;
    height: 664px;
    background-image: url(../img/asset_page/main/coins.png);
    background-repeat: no-repeat;
    background-position: right ;   
    background-size: 731px 521px;
}

.block_text {
    padding-top: 120px;
}

.title_text_main {
    font-family: 'SF Pro Display';
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}

.pre_title_main {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.running_line {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 84px;
}

.line {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #06071B;
    background: #07DBB4;
}


/* CRIPT CONTENT  */

.cript_Content {
    margin-bottom: 100px;
}


.Title_cript {
    font-family: 'SF Pro Display';
    font-size: 40px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.container_block_1, .container_block_2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.block_content {
    width: 540px;
    height: 320px;
    background: #121326;
    border-radius: 15px;
    padding: 35px 23px 73px 23px;
    box-sizing: border-box;
}

.name_cript {
    display: flex;
    font-family: 'SF Pro Display';
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #1C1D39;
}

.img_cript {
    padding-right: 12px;
    height: 100%;
}

.description_cript {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}


/* RATES */ 

.rates {
    margin-bottom: 120px;
}

.title_rates {
    font-family: 'SF Pro Display';
    font-size: 40px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.pre_title_rates {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0 0 40px 0;
}

.table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
    border-color: inherit;
}

.head_table {
    background: linear-gradient(65.81deg, #4E067E 0%, #42E8E0 129.73%);
    border-radius: 10px;
}

.heading_table {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 13px 0 13px 0;

   
}

.data_table {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 40px;
}


.img_table {
    padding: 0 10px 0 0;
    box-sizing: border-box;
}


/* CREAT TG CRIPT  */ 


.creat_tg {
    margin-bottom: 103px;
}

.bg_creat_tg{
    background-image: url(../img/creat_tg/bg_creat_tg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0 48px 20px;
}

.title_creat_tg {
    font-family: 'SF Pro Display';
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0 0 20px 0;
}

.pre_title_creat_tg {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0 0 40px 0;
}

.link_btn-main {
    display: flex;
    align-items: center;
    width: 183px;
    
    font-family: 'SF Pro Display';
    font-size: 16px;
    color: #06071B;
    background: #07DBB4;
    box-shadow: 0px 0px 14px rgba(66, 232, 224, 0.3);
    border-radius: 15px;
    padding: 16px 49px 16px 49px;
    text-decoration:none;
    transition: color 0.3s ease-in;
}

.img_btn {
    box-sizing:border-box;
    padding-left:15px;
}

.link_btn-main:hover {
    background: #FFFFFF;
    transition: background 0.3s ease-in;
}


/* FOOTER   */ 

.footer {
    margin-top: 100px;
    background: #1F2146;
}

.block_communication_mail {
   padding-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(6, 7, 27, 0.4);
    padding-bottom: 30px;
}

.block_linK_btn {
    display: flex;
    align-items: center;
}

.link_mail {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 220%;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 56px;
}

.img_mail {
    padding-right: 10px;
}

.block_categories {
    display: flex;
    justify-content: space-between;
}

.list {
    list-style-type: none;
}

.list:not(:last-child) {
    margin-bottom: 10px;
}

.link_list_box {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 220%;
    color: #FFFFFF;
    text-decoration: none;
}


.link_list_box:hover {
    color: rgb(7, 219, 180);
    transition: color 0.3s ease;
}

.container_custom_footer {
    max-width: 750px;
   
}

.block_categories_2 {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

.categories_active {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 220%;
    color: #FFFFFF;
    opacity: 0.6;
}

.title_social_networks {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 220%;
    color: #FFFFFF; 
    margin: 30px 0 5px 0;
}

.img_social:hover {
    background-color: #06071B;
}

.block_rules {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.block_rules p {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 220%;
    color: #FFFFFF;
    opacity: 0.3;
}

.icon-facebook-1, .icon-instagram,.icon-vk,.icon-telegram {
    text-decoration: none;
    color: #181A36;
    font-size: 30px;
}

.icon-facebook-1:hover, .icon-instagram:hover, .icon-vk:hover, .icon-telegram:hover{
    color: #07DBB4;
    transition: color 0.4s ease;
}
